.Auth {
    margin: 20px auto;
    width: 100%;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(83, 145, 187);
    color: white;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}